/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,700,700i');
@font-face{
    font-family: bigNod;
    src: url(fonts/big_noodle_titling.ttf)
}
@font-face{
  font-family: roboto;
  src: url(fonts/roboto\ regular.ttf)
}
html{
    font-size: 100px;
    margin: 0;
}
body{
    margin: 0;
}
.wrapper{
width: 13.7rem;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.link{
  text-decoration: none;
  color: black;
}
/* header */
.col-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height: 1.45rem;
  background: #f8f6f6;
  margin: auto;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 1rem;
  margin:0 1.8rem;
}
.header__title{
  flex-grow: 2;
  margin: 0.25rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.4rem;
  color: #696969;
  letter-spacing: 0.05rem;
  font-weight: normal;
}
.menu-logo{
  align-items: center;
  width: 0.4rem;
  height: 0.4rem;
}
/* home */
.col-home{
  height: 7rem;
  width: 100%; 
  margin: 0; 
  background-color: #353535;
}
.home{
  height: 7rem;
  margin:  0 .4rem; 
}
.home-title{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  text-align: center;
  color: #d6d5d5;
  font-family: bigNod;
}
.box-home-title{
  display: flex;
  flex-direction: column;

}
.home__title{
  font-size: .72rem;
  letter-spacing: .1em;
}
.home__subtitle{
  font-size: .36rem;
}
.box-icon__mause{
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
  color:#fff;
}
.text-icon__mause{
  padding: .1rem;
  font-family: roboto;
  font-weight: bold;
  font-size: .12rem;
}
/* about us */
.col-about-us{
  width: 100%; 
  margin: 0; 
}
.about-us{
  margin: .5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-family: bigNod;
  font-size: .48rem;
  font-weight: unset;
  letter-spacing: .1em;
  color: #3d3d3d;
  border-bottom: .02rem #f4511e solid ;   /* !!! */
  margin: .2rem;
}
.subtitle{
  font-family: roboto;
  font-size: .14rem;
  font-weight: unset;
  width: 45%;
  text-align: center;
  color: #696969;
  }
.three-blocks{
  margin: .5rem; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.one-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 2rem;
  background: #ebebeb;
  margin: 0.2rem;
}
.one-block__title{
  font-family: roboto;
  font-size: .18rem;
  font-weight: bold;
  color: #707070;
}
.one-block__subtitle{
  width: 75%;
  font-family: roboto;
  font-size: .14rem;
  font-weight: unset;
  text-align: center;
  color: #707070;
}
.col-watch-behind{
  margin: .5rem; 
  display: flex;
  height: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.watch-behind{
  height: 3.8rem;
  width: 50%;
  background-color: #171f23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.col-watch-behind iframe{
  width: 50%;
  height: 3.8rem;
}
.watch-behind__title{
  font-size: .3rem;
  color: #e7e7e7;
  font-weight: bold;
  margin: 0;
}
.watch-behind__text{
  font-size: .14rem;
  color: #696969;
  font-weight: 100;
 text-align: center;
 margin: 5% 10%;
}
.watch-behind button{
  width: 1.3rem;
  height: .4rem;
  background-color: #e84c3d;
  font-size: .14rem;
  font-weight: bold;
  color: #ebebeb;
}
/* OUR WORKS */

.col-oworks{
  width: 100%; 
  margin: 0; 
}
.oworks{
  margin: .5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oworks__links{
margin: 5%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-family: roboto;
}
.oworks__links .link{
  font-size: .14rem;
  padding: .05rem;
  color: #3d3d3d;  
}
.oworks__links .link:hover{
  font-size: .14rem;
  padding: .05rem .15rem;
  font-weight: bold;
  border-bottom-color: #e84c3d;
  border-bottom-style: solid;
  border-bottom-width: .02rem;   
}
.oworks__all-position{
  height: 5.3rem;
  width: 100%;
  background-color: #e84c3d;
}
.oworks__all-subposition{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: 2.4rem;
  width: 100%;
  background-color: #1c1c1c;

}
.all-subposition__box .text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .33rem;
  color: #f8f6f6;
}
.all-subposition__box{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
/* WHO WE ARE */
.col-wwa{
  width: 100%; 
  margin: 0; 
}
.wwa{
  margin: .5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wwa-columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
}
.wwa-column{
  height: 4.4rem;
  background-color: #ebebeb;
  margin: .1rem;
  font-family: roboto;
  color: #3d3d3d
}
.wwa-column--small{
  width: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.wwa-column--big{
   width: 6.6rem;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: flex-start;
   padding: 0 6%;
}
.around{
  border-radius: 50%;
}
.around--big{
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f26c4f;
}
.wwa-column__title{
  font-size: .2rem;
  font-weight: bold;
  margin: .2rem 0 0;
}
.wwa-column__subtitle{
  font-size: .14rem;
  font-weight: lighter;
  margin-bottom: .2rem;
}
.box-logo{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-bottom: .2rem;
}
.box-logo img, .box-icon div{
  margin: .05rem
}
.box-icon{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.around--small{
  width: .2rem;
  height: .2rem;
}
.around--gray{
  background-color: #8e8181;
}
.around--white{
  background-color: #fff;
}
.wwa-column--big .wwa-column__subtitle{
  color: #858383;
  margin: .1rem 0;
}
.all-skills{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
}
.all-skill__title{
  margin-top: .2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
} 
.skill__title{
  font-size: .14rem;
  font-weight: bold;
}
.all-skill__line{
  margin-top: .2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skill-line{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 4rem;
}
.skill__line{
  height: 5px;
 }
.line-photoshop--orange{
  background-color: #e84c3d;
  width: 88%;
}
.line-photoshop--white{
  background-color: #fff;
  width: 12%;
}
.line-illustrator--orange{
  background-color: #e84c3d;
  width: 92%;
}
.line-illustrator--white{
  background-color: #fff;
  width: 8%;
}
.line-sketch--orange{
  background-color: #e84c3d;
  width: 90%;
}
.line-sketch--white{
  background-color: #fff;
  width: 10%;
}
.line-after--orange{
  background-color: #e84c3d;
  width: 98%;
}
.line-after--white{
  background-color: #fff;
  width: 2%;
}
.all-skill__percent{
  margin-top: .2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skill__percent{
  font-size: .14rem;
  font-weight: lighter;
}
/* SOME FEATURES */
.col-somefeat{
  width: 100%; 
  margin: 0; 
  font-family: roboto;
  font-weight: lighter;
}
.somefeat{
  margin: .5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171f23;
  height: 4rem;

}
.somefeat .title{
  font-size: .36rem;
  font-weight: unset;
  letter-spacing: .1em;
  color: #f6f6f6;
  border-bottom: .02rem #404040 solid ;   /* !!! */
  margin: .2rem;
}
.foo-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}
.foo-box__one{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2.5rem;
  }
.somefeat .foo-box__one{
   height: 2rem;
}
.somefeat .foo-box__one .text-box{
  font-size: .18rem;
  color:#8e8181;
 }
.somefeat .foo-box__one .digit-box{
  font-size: .48rem;
  color: #f6f6f6;
}
.all-box__somefeat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box__somefeat{
  width: 10rem;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #f6f6f6;
}
.text-box__somefeat{
font-size: .18rem;
}
.digit-box__somefeat{
  font-size: .48rem;

}
