/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,700,700i');
@font-face{
    font-family: bigNod;
    src: url(fonts/big_noodle_titling.ttf)
}
@font-face{
  font-family: roboto;
  src: url(fonts/roboto\ regular.ttf)
}
html{
    font-size: 100px;
    margin: 0;
}
body{
    margin: 0;
}
.wrapper{
width: 13.7rem;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.link{
  text-decoration: none;
  color: black;
}
/* header */
.col-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height: 1.45rem;
  background: #f8f6f6;
  margin: auto;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 1rem;
  margin:0 1.8rem;
}
.header__title{
  flex-grow: 2;
  margin: 0.25rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.4rem;
  color: #696969;
  letter-spacing: 0.05rem;
  font-weight: normal;
}
.menu-logo{
  align-items: center;
  width: 0.4rem;
  height: 0.4rem;
}
/* home */
.col-home{
  height: 7rem;
  width: 100%; 
  margin: 0; 
  background-color: #353535;
}
.home{
  height: 7rem;
  margin:  0 .4rem; 
}
.home-title{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  text-align: center;
  color: #d6d5d5;
  font-family: bigNod;
}
.box-home-title{
  display: flex;
  flex-direction: column;

}
.home__title{
  font-size: .72rem;
  letter-spacing: .1em;
}
.home__subtitle{
  font-size: .36rem;
}
.box-icon__mause{
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
  color:#fff;
}
.text-icon__mause{
  padding: .1rem;
  font-family: roboto;
  font-weight: bold;
  font-size: .12rem;
}
/* about us */
.col-about-us{
  width: 100%; 
  margin: 0; 
}
.about-us{
  margin: .5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-family: bigNod;
  font-size: .48rem;
  font-weight: unset;
  letter-spacing: .1em;
  color: #3d3d3d;
  border-bottom: .02rem #f4511e solid ;   /* !!! */
  margin: .2rem;
}
.subtitle{
  font-family: roboto;
  font-size: .14rem;
  font-weight: unset;
  width: 45%;
  text-align: center;
  color: #696969;
  }
.three-blocks{
  margin: .5rem; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.one-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 2rem;
  background: #ebebeb;
  margin: 0.2rem;
}
.one-block__title{
  font-family: roboto;
  font-size: .18rem;
  font-weight: bold;
  color: #707070;
}
.one-block__subtitle{
  width: 75%;
  font-family: roboto;
  font-size: .14rem;
  font-weight: unset;
  text-align: center;
  color: #707070;
}
.col-watch-behind{
  margin: .5rem; 
  display: flex;
  height: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.watch-behind{
  height: 3.8rem;
  width: 50%;
  background-color: #171f23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.col-watch-behind iframe{
  width: 50%;
  height: 3.8rem;
}
.watch-behind__title{
  font-size: .3rem;
  color: #e7e7e7;
  font-weight: bold;
  margin: 0;
}
.watch-behind__text{
  font-size: .14rem;
  color: #696969;
  font-weight: 100;
 text-align: center;
 margin: 5% 10%;
}
.watch-behind button{
  width: 1.3rem;
  height: .4rem;
  background-color: #e84c3d;
  font-size: .14rem;
  font-weight: bold;
  color: #ebebeb;
}
/* OUR WORKS */

.col-oworks{
  width: 100%; 
  margin: 0; 
}
.oworks{
  margin: .5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oworks__links{
margin: 5%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-family: roboto;
}
.oworks__links .link{
  font-size: .14rem;
  padding: .05rem;
  color: #3d3d3d;  
}
.oworks__links .link:hover{
  font-size: .14rem;
  padding: .05rem .15rem;
  font-weight: bold;
  border-bottom-color: #e84c3d;
  border-bottom-style: solid;
  border-bottom-width: .02rem;   
}
.oworks__all-position{
  height: 5.3rem;
  width: 100%;
  background-color: #e84c3d;
}
.oworks__all-subposition{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: 2.4rem;
  width: 100%;
  background-color: #1c1c1c;
  
}
.all-subposition__box .text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .33rem;
  color: #f8f6f6;
}
.all-subposition__box{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}