/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,700,700i');
@font-face{
    font-family: bigNod;
    src: url(fonts/big_noodle_titling.ttf)
}
@font-face{
  font-family: roboto;
  src: url(fonts/roboto\ regular.ttf)
}
html{
  margin: 0;
  font-size: 100px;
}
body{
  margin: 0;
}
.g-home__link{
  position: fixed;
  bottom: .5rem;
  left: .2rem;
  text-decoration: none;
  font-family: roboto;
  color: #0c1215;
  font-size: .2rem;
}
.g-home__link:hover{
  color: #f4511e;
}
.wrapper{
width: 13.7rem;
margin: 0 auto;
}
.g-link{
  color: black;
  text-decoration: none;
}
/*MENU*/
.g-menu-icon{
  width: 40px;
  height: 40px;
}
.g-menu-list{
  position: relative;
  top: 1.5rem;
  display: none;
  padding:0;
  margin:0;
  list-style: none;
  background-color: #f8f6f6;
}
.g-menu:hover
.g-menu-icon{
  display: none;
}
.g-menu:hover
.g-menu-list{
  display: block;
}
.g-menu-list li{
  display:list-item;
  position: relative;
  width: 100%;
  float:none;
}
.g-menu__link{
  display: block;
  margin: .1rem;
  text-decoration: none;
  font-family: roboto;
  color: #171f23;
  font-size: .2rem;
}
.g-menu__link:hover{
  color: #f4511e;
}
/*BOX MAUSE*/
.wrap-g-mause{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
  padding: 1%;
  color:#fff;
}
.g-mause__text{
  padding: 10px;
  font-family: roboto;
  font-weight: bold;
  font-size: 12px;
}
.g-title{
  position: relative;
  margin: .2rem;
  font-family: bigNod;
  font-size: .48rem;
  font-weight: unset;
  letter-spacing: .1em;
  color: #3d3d3d;
  border-bottom: .02rem #f4511e solid ;  
}
.g-subtitle{
  font-family: roboto;
  font-size: .14rem;
  font-weight: unset;
  width: 45%;
  text-align: center;
  color: #696969;
}
.g-title__dark{
  font-family: roboto;
  font-size: .36rem;
  color: #f6f6f6;
  border-bottom: .02rem #404040 solid;
}
.g-wrap-three-column{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem; 
}
.g-box-three-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 330px;
}
.three-column__img{
   height: .6rem;
   width: .6rem;
}
.three-column__title{
  font-family: roboto;
  font-size: 18px;
  font-weight: bold;
  color: #707070;
}
.three-column__subtitle{
  width: 75%;
  font-family: roboto;
  font-size: 14px;
  font-weight: unset;
  text-align: center;
  color: #707070;
}
.three-column-notes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.notes-date{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.2rem;
}
.notes-like{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.notes__text{
  font-family: roboto;
  font-size: 10px;
  color: #8a8989;
}
.notes__img{
  margin: 5px;
}
.g-btn{
  background-color: #e84c3d;
  font-size: .14px;
  font-weight: bold;
  color: #ebebeb;
  border: none;
}
.g-around{
  border-radius: 50%;
}
.g-box-logo{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-bottom: .2rem;
}
.g-wrap-foo-column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.g-box-foo-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  margin: 0 5px;
}
/* header */
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding:0 1.8rem;
  height: 1.45rem;
  background: #f8f6f6;
}
.header__title{
  flex-grow: 2;
  margin: .25rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: .4rem;
  letter-spacing: .05rem;
  font-weight: normal;
  color: #696969;
}
/* home */
.home{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;
  padding: 0 .5rem;
  font-family: bigNod;
  background-color: #353535; 
}
.home-content{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  padding: 15%;
  width: 10rem;
  text-align: center;
  color: #d6d5d5;
}
.home-text{
  display: flex;
  flex-direction: column;
}
.home__title{
  font-size: .72rem;
  letter-spacing: .1em;
}
.home__subtitle{
  font-size: .36rem;
}
/* about us */
.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem; 
}
.about-us .g-box-three-column{
  height: 200px;
  background: #ebebeb;
}
.wrap-watch-behind{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem; 
}
.watch-behind{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  width: 50%;
  background-color: #171f23;
  align-items: center;
  font-family: roboto;
}
.wrap-watch-behind iframe{
  width: 50%;
  height: 380px;
}
.watch-behind__title{
  margin: 0;
  font-size:30px;
  color: #e7e7e7;
  font-weight: bold;
}
.watch-behind__text{
  margin: 5% 10%;
  font-size: 14px;
  color: #696969;
  font-weight: 100;
  text-align: center;
}
.watch-behind__btn{
  width: 1.3rem;
  height: .4rem;
}
/* OUR WORKS */
.oworks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem; 
}
.box-oworks-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;  
  align-items: center;
  font-family: roboto;
}
.oworks__links{
  font-size: 14px;
  padding: 5px 10px;
  color: #3d3d3d;  
}
.g-link:hover{
  font-size: 14px;
  font-weight: bold;
  border-bottom-color: #e84c3d;
  border-bottom-style: solid;
  border-bottom-width: .02rem;   
}
.oworks-content{
  height: 5.3rem;
  width: 100%;
  background-color: #e84c3d;
}
.oworks-subcontent{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: 2.4rem;
  width: 100%;
  background-color: #1c1c1c;
}
.oworks-subcontent__img{
  width: .4rem;
  height: .4rem;
}
.oworks-subcontent__text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .33rem;
  color: #f8f6f6;
}
.box-oworks-subcontent{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
/* WHO WE ARE */
.wwa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem; 
  }
.wwa-columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
}
.wwa-col{
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 4.4rem;
  margin: .1rem;
  font-family: roboto;
  color: #3d3d3d;
  background-color: #ebebeb;
}
.wwa-col--small{
  align-items: center;
  width: 3.2rem;
}
.wwa-col--big{
  align-items: flex-start;
  width: 6.6rem;
  padding: 0 6%;
}
.around--big{
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f26c4f;
}
.wwa-col__title{
  margin: .2rem 0 0;
  font-size: 20px;
  font-weight: bold;
}
.wwa-col__subtitle{
  margin-bottom: .2rem;
  font-size: 14px;
  font-weight: lighter;
}
.g-box-logo img, .wwa-box-icon div{
  margin: 5px
}
.wwa-box-icon{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.around--small{
  width: .2rem;
  height: .2rem;
}
.around--gray{
  background-color: #8e8181;
}
.around--white{
  background-color: #fff;
}
.wwa-col--big .wwa-col__subtitle{
  margin: 10px 0;
  color: #858383;
}
.wwa-skills{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  width: 5.8rem;
}
.col-skills{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: .2rem;
  height: 2rem;
}
.col-skills--start{
  align-items: flex-start;
 } 
.col-skills--center{
  align-items: center;
} 
.col-skills__title{
  font-size: 10px;
  font-weight: bold;
}
.col-skills-line{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width:400px;
}
.skill__line{
  height: 5px;
}
.line-photoshop--orange{
  background-color: #e84c3d;
  width: 88%;
}
.line-photoshop--white{
  background-color: #fff;
  width: 12%;
}
.line-illustrator--orange{
  background-color: #e84c3d;
  width: 92%;
}
.line-illustrator--white{
  background-color: #fff;
  width: 8%;
}
.line-sketch--orange{
  background-color: #e84c3d;
  width: 90%;
}
.line-sketch--white{
  background-color: #fff;
  width: 10%;
}
.line-after--orange{
  background-color: #e84c3d;
  width: 98%;
}
.line-after--white{
  background-color: #fff;
  width: 2%;
}
.skill__percent{
  font-size: .14rem;
  font-weight: lighter;
}
/* SOME FEATURES */
.somefeat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem; 
  font-family: roboto;
  font-weight: lighter;
  background-color: #171f23;
}
.somefeat .g-box-foo-column{
   margin: 10px;
   height: 2rem;
}
.somefeat .foo-column__text{
  font-size: 18px;
  color:#8e8181;
 }
.somefeat .foo-column__digit{
  font-size: .48rem;
  color: #f6f6f6;
}
.somefeat .foo-column__img{
  height: .6rem;
}
/* BLOG POSTS */
.blog-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem; 
}
.three-column-bg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 250px;
  margin-bottom: 10%;
  background: #787474;
}
.three-column-bg-around{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}
.three-column-bg-aruond--orange{
  background-color: #e87e5d;
}
.three-column-bg-aruond--silver{
  background-color: #f6e5e0;
}
.three-column-bg:hover{
  background: url(images/bg-bp.gif);
  background-size: cover;
}
.three-column-bg:hover
.three-column-bg-around
{
  display: flex;
}
.blog-posts .g-wrap-three-column {
 justify-content: space-between;
}
.blog-posts .g-box-three-column{
  align-items: flex-start;
  height: 5rem;
}
.blog-posts .three-column__title{
  text-align: inherit;
  padding: 0 10%
}
.blog-posts .three-column__subtitle{
  text-align: inherit;
  padding:  10%;
  word-wrap: break-word;
}
/* CHOSE PLAN */
.chose-plan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  font-family: roboto;
  font-weight: lighter;
  background-color: #171f23;
}
.chose-plan .g-wrap-foo-column{
  justify-content: space-between;
  background-color: #1f282c;
  margin: .5rem 0;
}
.chose-plan .g-box-foo-column{
  justify-content: space-between;
}
.title-box-foo-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 2.5rem;
  background-color: #0e1316;
}
.title-box__caption{
  font-size: .14rem;
  color: #fff;
}
.title-box__digit{
  font-size: .36rem;
  color: #fff;
  font-weight: lighter;
}
.puy-box-foo-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
}
.puy-box__text{
  font-size: .18rem;
  color:#8e8181;
 }
.puy-box__digit{
  font-size: .18rem;
  color: #f6f6f6;
  font-weight: bold;
}
.chose-plan__btn{
  margin-bottom: 20px;
  width: 1.3rem;
  height: .4rem;
}
.chose-plan .g-box-foo-column:hover{
  height: 5rem;
  outline-style: solid;
  outline-color: #e84c3d;
  outline-width: .04rem;
}
.chose-plan .g-box-foo-column:hover
.puy-box__digit{
    color: #e84c3d;
}
   /* GET IN TOCH */
.git{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto; 
  margin: .5rem; 
}
.git-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
}
.git-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.form{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #8e8181 solid 2px;
}
.git-form__title{
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #696969;
  align-self: flex-start;
}
.text-orange{
  color: #e84c3d;
}
.form--smile{
  width: 450px;
  height: .5rem;
}
.form--big{
  width: 10rem;
  height: 1.5rem;
}
.git-btn{
  width: 100px;
  height: 40px;
}
/* footer */
.footer{
  font-family: robooto;
  color: #fff;
}
.footer-lom{
  width: 100%;
  height: 80px;
  background-color: #0c1215;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title__lom{
  font-size: .24rem;
  font-weight: bold;
}
.footer-boot{
  height: 200px;
  width: 100%;
  background-color: #171f23;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.title__boot{
  font-size: .24rem;
  font-family: bigNod;
  padding: .07rem 0rem;
}
.subtitle__boot{
  font-size: .14rem;
  padding: .07rem 0rem;
}
.footer-boot img{
  padding: .07rem 0rem;
}
@media(min-width:360px) and (max-width:576px){
  html{
    margin: 0;
    font-size: 50px;
  }
  .g-mause__text{
    padding: 5px;
    font-size: 8px;
  }
  .watch-behind{
    width: 600px;
    height: 300px;
  }
  .wrap-watch-behind iframe{
    width: 600px;
  }
  .watch-behind__title{
    font-size: 20px;
  }
  .watch-behind__text{
    font-size: 10px;
  }
  .oworks__links{
    font-size: 10px;
  }
  .wwa-col__title{
    font-size: 14px;
  }
  .wwa-col__subtitle{
    font-size: 10px;
  }
  .col-skills__title{
    font-size: 10px;
  }
  .col-skills-line{
    width:180px;
  }
  .somefeat .foo-column__text{
    font-size: 12px;
    color:#8e8181;
   }
   .chose-plan .g-box-foo-column{
     width: 210px;
     justify-content: center;
     height: auto;
   }
   .git-form__title{
    font-size: 10px;
  }
  .three-column-bg{
    width: 100%;  
    height: 300px;
    margin-bottom: 10px;
  }
  .three-column-bg-around{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 10px;
  }
  
  .blog-posts .g-box-three-column{
    align-items: flex-start;
    height: 10rem;
  }
  .blog-posts .three-column__title{
    text-align: inherit;
    padding: 0 10%
  }
  .blog-posts .three-column__subtitle{
    text-align: inherit;
    padding:  10%;
    word-wrap: break-word;
  }
  .home-content{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 15%;
    width: auto;
    text-align: center;
    color: #d6d5d5;
}
}