@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,700,700i');
@font-face{
    font-family: bigNod;
    src: url(fonts/big_noodle_titling.ttf)
}
html{
    font-size: 100px;
    margin: 0;
}
body{
    margin: 0;
}
.wrapper{
width: 13.7rem;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

